# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore all logfiles and tempfiles.
.project
/*/.project

.server
/*/.server/*
/*/.server/

.classpath
/*/.classpath

.settings
/*/.settings
/*/.settings/*

target
/*/target
/*/target/*

.svn
.svn/*

.idea
.idea/*

.code-dist
.code-dist/*

Thumbs.db

logs/*
*.out
*.iml
*.log

.flattened-pom.xml

/polaris/
.codeGen
